/* app css stylesheet */

body.ng-scope {
    background: ghostwhite;
}

.innerFeature {
    margin-left: 10px;
    margin-right: 10px;
    background: aliceblue;
}

.menu {
    list-style: none;
    border-bottom: 0.1em solid black;
    margin-bottom: 2em;
    display: flex;
}

.menu > li {
    display: inline;
}

.menu > li:nth-child(1):before {
    content: "";
    padding: 0;
}

img.add-player-button {
    width: 20px;
    height: 20px;
}

img.remove-player-button {
    width: 20px;
    height: 20px;
}

td.player-list-input {
    padding: 5px;
}

img#logo {
    width: 10%;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    border: 0;
}

.player-won {
    background: lightgreen;
}

.player-lost {
    background: crimson;
}

.player-tie {
    background: lightsalmon;
}

input.group-phase-input {
    width: 50px;
}

input.ko-phase-input {
    width: 50px;
}

.ko-groups {
    float: left;
}

.ko-matchup {
    margin: 10px;
}

.winner-half.ko-groups {
    margin-top: 57px;
}

.winner-final.ko-groups {
    margin-top: 88px;
}

.winner-announcement {
    float: left;
    font-size: 30px;
}

span.groupselected {
    background-color: black;
}

.listButton {
    padding: 5px;
    border: 1px solid black;
    border-bottom: none;
    margin-left: 30px;
    margin-right: 30px;
}

.listButton.selectedMenuItem {
    background: #FFD071;
}

.listButton.selectedGroupItem {
    background: #ff9077;
}