/* app css stylesheet */

.menu {
    list-style: none;
    border-bottom: 0.1em solid black;
    margin-bottom: 2em;
    padding: 0 0 0.5em;
}

.menu:before {
    content: "[";
}

.menu:after {
    content: "]";
}

.menu > li {
    display: inline;
}

.menu > li:before {
    content: "|";
    padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
    content: "";
    padding: 0;
}

img.add-player-button {
    width: 20px;
    height: 20px;
}

img.remove-player-button {
    width: 20px;
    height: 20px;
}

td.player-list-input {
    padding: 5px;
}

img#logo {
    width: 10%;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    border: 0;
}

.player-won {
    background: lightgreen;
}

.player-lost {
    background: crimson;
}

.player-tie {
    background: lightsalmon;
}

input.group-phase-input {
    width: 50px;
}

input.ko-phase-input {
    width: 50px;
}

.ko-groups {
    float: left;
}

.ko-matchup {
    margin: 10px;
}

.winner-half.ko-groups {
    margin-top: 57px;
}

.winner-final.ko-groups {
    margin-top: 88px;
}

.winner-announcement {
    float: left;
    font-size: 30px;
}

span.groupselected {
    background-color: black;
}
