<div>
    <div>
        <label>Punktevergabe</label> <br/>
        <label>Sieg</label> <input type="number" ng-model="data.configuration.points.win"> <br/>
        <label>Unentschieden</label> <input type="number" ng-model="data.configuration.points.tie"> <br/>
        <label>Niederlage</label> <input type="number" ng-model="data.configuration.points.loose"> <br/>
    </div>



    <div>
        <label>EXPORT</label>
        <button type="button" ng-click="persistence.export.exportAll()">Exportieren</button>
        <textarea ng-model="persistence.export.text"></textarea>
    </div>

    <div>
        <label>IMPORT</label>
        <button type="button" ng-click="persistence.import.importAll($event)">importieren</button>
        <textarea ng-model="persistence.import.text"></textarea>
    </div>
</div>