<div>

<img class="add-player-button" src="img/add.png" ng-click="addPlayer()"></img>
<label>Gesamtspieler: {{playerCount}} </label>
	
	<table ng-show="playerCount > 0">
		<th>Position</th>
		<th>Name</th>
		<th>Punkte</th>
		<th>Codename</th>
		<th>entfernen</th>
		
		<tr ng-repeat="player in playerList">
			<td> <label>{{player.position}}<label> </td>
			<td> <input type="text" ng-model="player.name" name="Name"/> </td>
			<td><input type="text" ng-model="player.points" name="Punkte"/> </td>
			<td><input type="text" ng-model="player.code" name="Kürzel"/> </td>
			<td><img class="remove-player-button" src="img/remove.png" ng-click="removePlayer($index)"></img></td>
		</tr>
	</table>
</div> 